<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
   <property name="LOG_PATH" value="${LOG_PATH:-logs}" />

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!-- <encoder class="net.logstash.logback.encoder.LogstashEncoder" /> -->
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %-5p %m%n</pattern>
      </encoder>
   </appender>

   <appender name="SEMATEXT" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
      <host>logsene-syslog-receiver.eu.sematext.com</host>
      <port>12201</port>
      <layout class="net.logstash.logback.layout.LogstashLayout">
         <customFields>{"logsene-app-token":"${SEMATEXT_TOKEN}"}</customFields>
      </layout>
   </appender>

   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}/markdown.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>markdown.%d{yyyy-MM-dd}.log</fileNamePattern>
         <!-- Keep logs for 365 days, maximum 5GB -->
         <maxHistory>365</maxHistory>
         <totalSizeCap>5GB</totalSizeCap>
      </rollingPolicy>

      <append>true</append>
      <immediateFlush>true</immediateFlush>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
   </appender>

   <root level="WARN">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="SEMATEXT" />
      <appender-ref ref="FILE" />
   </root>

   <logger name="com.mlesniak" level="INFO" additivity="false">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="SEMATEXT" />
      <appender-ref ref="FILE" />
   </logger>
</configuration>
